


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background: #b2bec3; */
    font-size: 120%;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;
    background-image: url("https://source.unsplash.com/1600x900/?weather");
}

.card {
    background: #000000d0;
    padding: 2em;
    border-radius: 35px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    color: white;

}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

button {
    background: #7c7c7c4d;
    margin: 10px;
    padding: 17px;
    border-radius: 50%;
    border: none;
    outline: none;
    color: white;
}
.button:hover{
    background-color: rgb(153, 74, 74);
    transition: 2s;
}

input.search-bar {
    padding: 12px;
    border-radius: 35px;
    border: none;
    outline: none;
    background: #7c7c7c4d;
    text-align: center;
    color: white;
    font-family: sans-serif;
    width: 100%;
    font-size: 120%;
  
}
.city{
    color: gray;

}

.temp{
    font-size: 150%;
    color: rgb(236, 211, 208);
    
}
